{% extends "base.html" %}
<!--Extind -->
{% block title %}About{% endblock %}
{% block content %}
<h1>About us</h1>
<div class="about">
<p class="about_big_p">Welcome to Graphers: Your Visual World Begins Here!</p>
<p class="about_par">In this journey of creativity, Graphers is the beacon guiding your way.
    It is more than just a platform; it is a haven for photography enthusiasts, a sanctuary
     of visual expression where every frame tells a story, and every image is a piece in the endless puzzle of pictures. </p>
<p class="about_big_p">Connect, Inspire, Create</p>
<p class="about_par">With Graphers, every upload becomes a journey in itself. We invite you to share your photographic
    masterpieces without worry, in a seamless uploading environment. Carefully select each image, associate it with
     one of the available categories, and we will ensure that they are showcased in a manner that highlights their beauty. </p>
<p class="about_big_p">Technical Support Contact</p>
<p class="about_par">In case of technical issues or questions, our dedicated team is always at your service.
    You can contact us via email at support_graphers@gmail.com or call us at 0722399876. We are here to help
     you maximize your experience on Graphers and ensure that your visual journey remains full of inspiration
     and creativity, without any problems! </p>
</div>
{% endblock %}